{% extends 'annaahair/base.html' %}
{% block title %} Каталог услуг {% endblock %}
{% block content %}


<div style="width:300px; height:500px; margin:auto; position:absolute; left:70%;">
                <h3 style="color: #FF0000" class="fw-light" align="center">Оказываемые услуги:</h3>
<br>
<ul>
    <li style="font-size:18px;" class="fw-light"><font color="#FF0000">Стрижка</font></li>
    <br/>
    <li style="font-size:18px" class="fw-light"><font color="#FF0000">Укладки любой сложности</font></li>
    <br/>
    <li style="font-size:18px" class="fw-light"><font color="#FF0000">Окрашивание любой сложности</font></li>
    <br/>
    <li style="font-size:18px" class="fw-light"><font color="#FF0000">Кератиновое выпрямление волос</font></li>
    <br/>
    <li style="font-size:18px" class="fw-light"><font color="#FF0000">Ботокс волос</font></li>
    <br/>
    <li style="font-size:18px" class="fw-light"><font color="#FF0000">Холодное восстановление</font></li>
</ul>
</div>

{% endblock %}
