{% extends 'annaahair/base.html' %}
{%  load static %}
{% block title %} Контакты {% endblock %}
{% block content %}

<div class="contact_section bd-bottom padding">
    <div class="container">
        <div class="col-sm-12 xs-padding">
            <div style="color: #FF0000" class="contact_info" style="    text-align: center;    padding: 32px 40px 70px;">
                <h3 >Мои контакты</h3>
                <div class="page_border"></div>
                <p><span>Телефон: </span>+375 29 793 41 53

                    <br> <span>Email: </span>Mosquito.1101@mail.ru <br> <span>Адрес: </span>г. Брест, пр-кт Машерова,
                    23А<br>
                    <span>По нечетным дням: </span>10:00 - 20:00 (по записи)</p>

            </div>
        </div>

    </div>
</div>


{% endblock %}