

 .barber_form {
 width: 290px;
 }
 .barber_form .caption {
 font-size: 22px;
 text-align: center;
 }
 .barber_form .example_infofield {
 font-weight: bold;
 margin-top: 15px;
 margin-bottom: 7px;
 }
 .barber_form input[type="text"], .barber_form input[type="tel"],
 .barber_form input[type="datetime-local"], .barber_form select {
 width: 100%;
 padding: 2px 10px;
 }
 .barber_form input[type="radio"], .barber_form input[type="checkbox"] {
 margin-left: 10px;
 margin-right: 5px;
 }
 .barber_form fieldset {
 margin-top: 10px;
 }
 .barber_form input[type="submit"] {
 width: 100%;
 margin-top: 15px;
 padding: 5px 15px;
 }



